.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1312116d;
  display: flex;
  opacity: 1;
}
.modalContainer {
  margin: auto;
  width: 40%;
  height: 40vh;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
