.contenedorCard {
  width: 33rem;
  height: 54.5rem;
  border: solid 1.5px #f8b56d;
  padding: 1rem;
  margin: 1rem auto;
  transition: 0.4s ease-in-out;
}
.contenedorCard:hover {
  border: solid 0.5px #fde7cf;
  transform: translate(0, -0.83rem);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.contenedorIconosFoto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.PhotoProduct {
  height: 40rem;
  padding: 1rem;
  display: flex;
}
.contenedorIconos {
  display: flex;
  flex-direction: column;  
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  margin-left: 3rem;
}
.detallesIcono {
  font-size: 1.6rem;
  font-family: "Poppins Regular";
  margin-bottom: .5rem;
}
.icono {
  scale: 70%;
}

.contenedorPieCard {
  background-color: #180b1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 12rem;  
}
.nombreBebida {
  font-size: 2rem;
  font-family: "Poppins";
  color: white;
  margin-left: 3rem;
}
.contenedorBtnsCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}
.precio {
  font-size: 3.7rem;
  font-family: "Poppins";
  color: white;
}
.btnAñadir {
  width: 9rem;
  height: 3.7rem;
  background-color: #f8b56d;
  color: white;
  border-style: none;
  cursor: pointer;
  transition: 0.4s ease-in;
  font-size: 2rem;
  font-family: "Poppins Medium";
  border-radius: 0.5rem;
}
.btnAñadir:hover {
  background-color: #e9973f;
}

.btnItemDetail {
  background-color: transparent;
  color: #f8b56d;
  font-size: 2rem;
  font-family: "Poppins Medium";
  border-style: none;
  cursor: pointer;
  transition: 0.4s ease-in;
}
.btnItemDetail:hover {
  color: rgb(250, 231, 212);
}
