.contenedorFooter {
  width: 60%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 5rem auto 0 auto;
  align-items: start;
  gap: 3rem;
  padding: 5rem 0 5rem 0;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}
.logosFooter {
  display: flex;
}
.logosFooter img {
  margin-right: 1rem;
  transition: 0.37s ease-in-out;
  cursor: pointer;
}
.logosFooter img:hover {
  scale: 88%;
}

.rigth {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

.payPalyCondiciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 2rem;
}

.payPal {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.textoFooter {
  font-family: "Poppins";
  font-size: 1.5rem;
  text-align: right;
}
.login a {
  font-family: "Poppins";
  font-size: 1.7rem;
  color: #180b1d;
  text-decoration: none;
  cursor: pointer;
}
.loginIcon {
  width: 3rem;
  cursor: pointer;
}

@media screen and (max-width: 920px) {
  .contenedorFooter {
    width: 60%;
    height: 25rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 3rem auto 0 auto;
    align-items: start;
    gap: 3rem;
  }
  .textoFooter {
    text-align: left;
  }
  .rigth {
    align-items: start;
  }
}
