.contenedorHeader{
  display: flex;
  justify-content: center;
}
.banner {
  width: 100%;
  height: 37rem;
  background-image: url("https://res.cloudinary.com/dqykftyy6/image/upload/v1689145796/ProyectoReactCoder/BannersImg/group-peoeple-drinking-whiskey_t9ihve.jpg");
  background-size: cover;
  background-position: center;
}
.contenedorTitulo{
  width: 100%;
  display: flex;
  justify-content: center;  
  margin-top: 5rem;
   
}
.contenedorTitulo h2{
  width: 37rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #f8b56d;
  font-size: 2.1rem;
  font-family: "Poppins Regular";
  text-align: center;
  
}