.padreContenedorItems {
  width: 100%;
}
.contenedorItems {
  width: 60%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 0.5rem;
  margin: 8rem auto;
}
.contenedorBanner {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  background-color: #f8b56d;
  padding: 3rem 0 4rem 0;
}
.contenidoBanner {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  align-items: center;
  margin: auto;
  gap: 2rem;
}
.descuento {
  font-family: "Poppins";
  font-size: 12rem;
  margin: auto;
}
.textoBanner {
  font-family: "Poppins";
  font-size: 1.8rem;
  margin: auto;
}
.btnOnTop {
  width: 100%;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  margin: auto;
  opacity: 0.5;
  transition: 0.37s ease-in-out;
}
.btnOnTop:hover {
  opacity: 1;
  transform: translate(0, -1rem);
  transition: 0.37s ease-in-out;
}
