.contenedorPadre {
  width: 60%;
  margin: auto;
}
.contenedor {
  margin-top: 5rem;
  display: grid;
  justify-items: end;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 4rem;
}
.contenedorImg {
  width: 30rem;
  height: 70rem;
  margin: auto;
}
.contenedorInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 0 4rem 0;
  border-bottom: solid 2px #e9973f;
  border-top: solid 2px #e9973f;
  width: 50rem;
  margin: auto;
}
.nombreProducto {
  font-family: "Poppins Medium";
  font-size: 2.5rem;
  color: #f8b56d;
}
.detalleProducto {
  font-family: "Poppins";
  font-size: 1.7rem;
  color: #180b1d;
}
.precioProducto {
  font-family: "Poppins";
  font-size: 5.5rem;
  color: #180b1d;
}
.contenedor2Iconos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
  width: 50rem;
}
.detallesIcono {
  font-size: 1.6rem;
  font-family: "Poppins Regular";
  margin-right: 1rem;
}

.contenedorBannerEnvios {
  padding: 3rem 0 3rem 0;
  width: 100%;
  margin-top: 7rem;
  background-color: #e9973f;
}
.contenidoBannerEnvios {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 1rem;
  margin: auto;
  align-items: center;
}
.envioGratisTittle {
  font-family: "Poppins";
  font-size: 8rem;
  color: white;
}
.envioGratisDescription {
  font-family: "Poppins";
  font-size: 1.5rem;
  color: white;
}
.contenedorProgress {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.popup {
  width: 20%;
  height: 13rem;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
}
.title {
  font-family: "Poppins";
  font-size: 2rem;
  font-weight: 500;
  color: #180b1d;
}
.icon {
  scale: 140%;
  margin: auto;
}
@media screen and (max-width: 1500px) {
  .popup {
    width: 30%;
  }
}
@media screen and (max-width: 920px) {
  .popup {
    width: 50%;
  }
}
