.contenedorPadre {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contenedor {
  margin-top: 5rem;
  padding: 0 12rem 0 12rem;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contenedorImg {
  width: 30rem;
  height: 70rem;
}
.contenedorInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 0 4rem 0;
  border-bottom: solid 2px #e9973f;
  border-top: solid 2px #e9973f;
  width: 50rem;
}
.nombreProducto {
  font-family: "Poppins Medium";
  font-size: 2.5rem;
  color: #f8b56d;
}
.detalleProducto {
  font-family: "Poppins";
  font-size: 1.7rem;
  color: #180b1d;
}
.precioProducto {
  font-family: "Poppins";
  font-size: 5.5rem;
  color: #180b1d;
}
.contenedor2Iconos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
  width: 50rem;
}

.detallesIcono {
  font-size: 1.6rem;
  font-family: "Poppins Regular";
  margin-right: 1rem;
}
.contenedorBannerEnvios {
  margin-top: 7rem;
  width: 100%;
  background-color: #e9973f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}
.contenidoBannerEnvios {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.envioGratisTittle {
  font-family: "Poppins";
  font-size: 8rem;
  color: white;
}
.envioGratisDescription {
  width: 40rem;
  font-family: "Poppins";
  font-size: 1.5rem;
  color: white;
}
