.contenedorMiniCard {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.miniCard {
  width: 60%;
  height: 20.5rem;  
  padding: 1rem;
  border-bottom: solid 2px #e9973f;
  border-top: solid 2px #e9973f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.imgInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.contenedorInfo p {
  font-family: "Poppins";
  font-size: 1.7rem;
}
.nombrePrecio {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.nombrePrecio p {
  display: flex;
  flex-direction: row;
  font-size: 2.7rem;
  gap: 1rem;
}

.nombre {
  font-family: "Poppins";
  color: #f8b56d;
}
.precio {
  font-family: "Poppins";
  color: #170d1c;
}
.contenedorBtnes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.btnMasInfo b {
  color: #f8b56d;
  font-size: 1.5rem;
  font-family: "Poppins";
  cursor: pointer;
  text-decoration: none;
}

.btnDeleteProduct {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border: none;
  font-family: "Poppins Medium";
  font-size: 1.2rem;
  cursor: pointer;
  gap: .5rem;
}
.imgMini{  
  height: 18rem;
}
.imgMini img{  
  height: 100%;
}
.contenedorContadorPrecioAcc{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.PrecioAcc {
 font-family: "Poppins";
 font-size: 4rem;
 padding-left: 1rem;
 border-left: solid 2px #e9973f;
}